In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import RidgeCV
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn import set_config
set_config(display='diagram')
from sklearn.metrics import mean_squared_log_error
from sklearn.model_selection import GridSearchCV

/Users/floriankogon/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/deprecation.py:143: FutureWarning: The sklearn.utils.testing module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.utils. Anything that cannot be imported from sklearn.utils is now part of the private API.
  warnings.warn(message, FutureWarning)

In [2]:
data_train = pd.read_csv("data/train.csv")

In [3]:
data_train

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.00,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.00,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.00,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.00,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.00,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.00,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.00,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.00,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.00,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.00,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [4]:
X = data_train.drop(columns = ["Id", "SalePrice"])
y = np.log(data_train.SalePrice)

In [5]:
X.replace(['Po', 'Fa', 'TA', 'Gd', 'Ex'], [1, 2, 3, 4, 5], inplace=True)
X.replace(['No', 'Mn','Av'], [1, 2, 3], inplace=True)
X[['LotFrontage', 'BsmtQual', 'BsmtCond', 'GarageQual', 'GarageCond', 'BsmtExposure', 'PoolQC', 'FireplaceQu', 'MasVnrArea']] = X[['LotFrontage', 'BsmtQual', 'BsmtCond', 'GarageQual', 'GarageCond', 'BsmtExposure', 'PoolQC', 'FireplaceQu', 'MasVnrArea']].fillna(value=0)

In [6]:
X.isna().sum().sort_values(ascending=False)

MiscFeature     1406
Alley           1369
Fence           1179
GarageType        81
GarageYrBlt       81
                ...
HalfBath           0
BedroomAbvGr       0
KitchenAbvGr       0
KitchenQual        0
MSSubClass         0
Length: 79, dtype: int64

In [7]:
X.drop(columns=['MiscFeature', 'Alley', 'Fence'], inplace=True)

In [8]:
X_cat = X.select_dtypes(include = "object")
X_num = X.select_dtypes(include = ["int64", "float64"])

In [9]:
X_cat.isna().sum().sort_values(ascending=False).head(10)

GarageFinish     81
GarageType       81
BsmtFinType2     38
BsmtFinType1     37
MasVnrType        8
Electrical        1
SaleCondition     0
LotConfig         0
Condition1        0
Neighborhood      0
dtype: int64

In [10]:
X_num.isna().sum().sort_values(ascending=False).head(10)

GarageYrBlt     81
YrSold           0
BsmtFullBath     0
LowQualFinSF     0
2ndFlrSF         0
1stFlrSF         0
HeatingQC        0
TotalBsmtSF      0
BsmtUnfSF        0
BsmtFinSF2       0
dtype: int64

In [11]:
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
X_num_modified = imp_mean.fit_transform(X_num)
df_num_modified = pd.DataFrame(X_num_modified, columns=X_num.columns.values)
imp_frequent = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
X_cat_modified = imp_frequent.fit_transform(X_cat)
df_cat_modified = pd.DataFrame(X_cat_modified, columns=X_cat.columns.values)

In [12]:
encoder = OneHotEncoder(sparse=False)
encoded = encoder.fit_transform(df_cat_modified)
df_encoded = pd.DataFrame(encoded)

In [13]:
df_train_modified = pd.concat([df_num_modified, df_encoded], axis=1)

In [14]:
X_train, X_test, y_train, y_test = train_test_split(df_train_modified, y, test_size=0.30, random_state=42)

In [15]:
#df_cat_train = X_train.select_dtypes(include = "object")
#df_cat_test = X_test.select_dtypes(include = "object")
#df_num_train = X_train.select_dtypes(include = ["int64", "float64"])
#df_num_test = X_test.select_dtypes(include = ["int64", "float64"])

In [16]:
#scaler = RobustScaler()
#scaled_train = scaler.fit_transform(df_num_train)
#scaled_test = scaler.fit_transform(df_num_test)
#df_scaled_train = pd.DataFrame(scaled_train)
#df_scaled_test = pd.DataFrame(scaled_test)

In [17]:
#df_scaled_and_encoded_train = pd.concat([df_scaled_train, df_cat_train], axis=1)
#df_scaled_and_encoded_test = pd.concat([df_scaled_test, df_cat_test], axis=1)

In [18]:
ridge = RidgeCV()

In [19]:
ridge.fit(X_train, y_train)

RidgeCV(alphas=array([ 0.1,  1. , 10. ]))

In [20]:
ridge.score(X_train, y_train)

0.9164327092261149

In [21]:
ridge.score(X_test, y_test)

0.9011875657130977

In [22]:
predictions = ridge.predict(X_test)

In [23]:
np.sqrt(mean_squared_error(y_test, predictions))

0.1294725860191083

In [24]:
np.exp(predictions)

array([151151.28685853, 326888.32574728, 107653.9526527 , 166480.08085518,
       318480.43773443,  82978.71774614, 256373.45914222, 142807.83460902,
        79700.31975353, 142865.79979382, 148636.13873549, 122136.38667251,
        95279.27829575, 215795.0416941 , 172330.03125481, 134114.57604854,
       195115.08896553, 129058.33957799, 108722.52734306, 213782.34954549,
       159126.14201758, 205975.93063407, 182223.0337276 , 137407.98812476,
       205400.40474961, 151037.54690817, 199865.83420367, 105413.29555288,
       171545.34928467, 192399.29258035, 125550.41377977, 275955.76801998,
       186678.27605877, 113221.99527076, 273051.29145846, 147599.53312841,
       143486.64312106, 206212.58966792, 345560.52326816, 102561.28752255,
       138361.18231442, 238736.25068136, 109324.66635137, 319630.13454496,
       130918.14253646, 117588.74565275, 106758.72173764, 131026.76912624,
       417006.36836458, 126505.2134044 , 118419.58426096, 204912.10679696,
       115026.33770765, 314573.98402929, 162876.43574347, 224039.34552595,
       223076.00674038, 156189.24169937, 132019.81723972, 101602.2838197 ,
        73069.63938073, 165131.53976949, 314250.11215889, 242187.43889811,
       310632.18931976, 213596.24801328, 109982.30566899, 326615.02109529,
       116377.90044176, 163000.23173802, 121713.69489543, 123465.42325844,
       112128.92268329,  81900.04499935, 425487.5877368 , 192026.75131747,
       290432.94571602, 323671.16732697, 146052.72543486, 115346.76914595,
       118476.73995794,  71350.69207204, 111955.19132138, 106936.93075734,
       159401.5543198 , 129444.85642029, 270009.61409755, 211119.4727237 ,
       145053.32689971, 198354.97784835, 133156.13314303, 139037.06321772,
       134022.714999  , 266026.28779565, 104297.29543695, 188284.5090936 ,
       172280.85332261, 187265.34093534, 196034.37842056, 265941.44071399,
       149224.90485213, 211205.28245126, 240513.88450858, 133719.8382085 ,
       176719.9690902 , 184983.36478483, 165059.84138291, 265674.21667544,
       144930.59715487, 196769.52745054,  56277.80311679, 114336.98527396,
       147855.77885271, 134738.44939702, 203662.28527577, 123359.84359626,
       106601.84459169, 122418.7654483 , 125209.73133213, 266822.62255618,
       137130.80936864, 147689.80542181, 179985.68832727, 183433.66329855,
       189655.68886452, 129907.96644008, 229281.77257523,  96226.81251125,
       147127.44210646, 202021.54069068, 190837.28499593, 328230.19798562,
       195876.81269526, 124107.25712998,  66170.57945478, 362969.05852589,
       326925.18873202, 139573.14714712, 220560.51347283, 607374.19063245,
       340773.95549229, 133902.37823754, 169625.10494199, 156273.19329384,
       110682.16265986, 122223.77152655, 245969.08496965, 185477.17898214,
       128298.74245162,  66810.80002212, 114987.57733176, 133182.43817948,
       247111.14068709, 153724.85926622,  84197.89469823, 122558.44840848,
       122764.54126742, 135205.24620385,  95813.75355712, 138399.58574276,
       203446.08106183, 131344.20482539, 292773.92602871, 145452.5046582 ,
       111873.93790612, 114742.45148368, 230360.93046876, 298249.8407132 ,
       441400.11070637, 226990.39530966, 370376.35986644,  89705.69231665,
       118490.8673539 , 152206.47891028, 309648.15969843, 108049.16853493,
       128080.02703079, 211474.41006483, 124594.75616266, 164450.15676278,
       185178.72878517,  93905.2769657 , 125567.5890239 , 155203.4353067 ,
       255094.96699282, 118928.67986517, 286994.50277574, 227986.97603823,
       201453.255461  ,  84533.21591146, 116918.38657494, 108962.42667879,
       149381.41280553, 124507.48274497, 193758.57348083, 170119.98571443,
       202491.14547309,  84974.17832562, 200759.10436454, 135376.18517343,
       231931.05800211, 203109.83437119, 117261.2719741 , 305974.85551705,
       200582.31124239, 123016.34895278, 229357.26006486, 131385.88171731,
       134717.09771503, 115253.0712964 , 239986.37277767, 159913.21125773,
       109303.11924672, 159643.12683618, 217186.93177233, 248172.48691402,
       211825.1287056 , 126334.33742294, 120947.37078855, 130207.73025826,
       134966.30794538, 232182.79117271, 188010.9122696 ,  99407.86645512,
       240468.99374126, 144678.71892139,  86769.56136712, 108091.31281105,
       164442.0602625 ,  94394.87713021,  99118.94960618, 174714.03620059,
       120754.24989348, 119243.51058551, 229240.02537039, 136123.63689063,
       200569.47741166, 158130.63498133, 242816.0694864 , 122367.85844794,
       115100.5288196 , 267529.89995146, 225419.77932508, 473779.96809776,
       185643.54890035, 110221.03314291, 144304.6429629 , 175518.10208993,
       138836.52357294, 100893.65281513, 168549.38755898, 180649.88486758,
       141049.14963492,  93400.87829174, 140837.05021332, 145492.14477445,
       115434.48527352, 116645.48289441, 173098.9605962 , 245115.15187724,
       305947.88270473, 187106.91129273, 133510.69161192, 235565.31087535,
       320654.84879557, 223172.16614755, 149359.51201927, 142233.3140427 ,
       108197.18954293, 188631.42108937, 404943.57335363, 231185.36914672,
       236994.81309508,  92409.30864473,  96195.21837719, 136262.6847166 ,
       136675.4121434 , 271061.91989655, 214293.312315  , 123597.67924253,
       196386.46726839,  87738.27359735, 200063.15321125, 120411.36561067,
       289788.7068607 , 174503.88462402, 208854.52678201, 102142.49283852,
       265663.91670596, 209355.99697469, 110979.09538582, 121749.19065196,
       131522.84519791, 178481.48614045,  91264.54151364, 169672.25855769,
       156958.73191074, 139064.79387799, 178062.35151414, 111581.45065627,
       176496.97948175, 231719.789992  , 131414.19791513, 129861.34145705,
       168777.08531784, 204295.94674984, 142802.65503381, 210456.78928096,
       219854.39467549, 117246.54318127, 132363.21444257, 183426.17406685,
        90941.4598202 , 211420.98658746, 125088.74756514, 179365.02408317,
       187371.6190637 , 169682.42752962, 291904.24787469,  79432.70803595,
       215497.92234   , 138893.90327965, 138179.64186228,  87858.6452269 ,
       189131.36295218, 144958.16965925, 139051.96249342, 215057.4487987 ,
       149639.63195193, 105225.81332857, 144893.90413628, 139345.33502869,
       149094.89800971, 211486.41804019, 153046.59632153, 122164.77566963,
       153830.74962385,  89570.84615716,  75880.90040279, 205820.97980824,
       195073.42978752, 142552.27376896, 136448.45417071, 183757.53493904,
       236217.71106973, 367639.63815028, 339747.91125355, 112873.36611035,
       241704.20621826, 130185.65905397, 240449.47862963, 333872.96593843,
       268541.87382441, 166533.89604396, 234261.96239532, 124327.24983952,
       118778.96979686,  86129.56337901, 217298.68911011, 321947.18295315,
       184036.02295832, 128260.62747305, 235806.56758607, 230783.66994731,
       126631.0725012 , 190199.66755312, 155041.59511382, 111875.71252647,
       127944.44090636, 155635.85762987, 120957.11379585, 176294.98767362,
       116438.43694191, 207420.75313483, 174381.18819092, 133441.33204131,
       218760.7213842 , 183133.97178086,  93503.69655528, 207591.8970477 ,
       140439.40679421, 166465.91877498, 192201.42519645, 156784.00744213,
       122502.34991271, 231546.28365524, 140675.55769609, 132362.31043278,
       274196.02231258, 172563.58363228, 118237.5375984 , 138513.09639934,
       137986.61501193, 368868.29068172, 139096.77972022, 438474.84589236,
       131062.73484732, 172302.43361136, 172743.67910753, 131966.18728111,
       167574.86487176, 374783.35043473,  99227.82221259, 158845.97292994,
       144439.68456191,  96528.1725228 , 185053.41037124, 134249.4470906 ,
       212061.77732612, 206044.63561221, 242937.88559117, 219795.09775839,
        99466.4903427 , 319984.33932313, 146630.63140878, 337206.25902638,
       128525.91646999, 363144.33925411, 271676.21741352, 124479.76227437,
       213628.33236344, 268606.47385993, 209229.9526351 , 179166.96097014,
       278805.0468595 , 110368.01455282, 226841.68470298, 181251.96899234,
       201268.77675717, 228546.92346566, 122523.40927022, 134529.34609574,
       157096.62122303, 128350.30680076, 120562.78443751, 209280.38947809,
       137140.54814698, 418099.28138843])

In [25]:
data_test = pd.read_csv("data/test.csv")
data_test

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.00,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.00,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.00,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.00,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.00,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.00,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.00,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.00,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.00,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.00,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [26]:
data_test.replace(['Po', 'Fa', 'TA', 'Gd', 'Ex'], [1, 2, 3, 4, 5], inplace=True)
data_test.replace(['No', 'Mn','Av'], [1, 2, 3], inplace=True)
data_test[['LotFrontage', 'BsmtQual', 'BsmtCond', 'GarageQual', 'GarageCond', 'BsmtExposure', 'PoolQC', 'FireplaceQu', 'MasVnrArea']] = data_test[['LotFrontage', 'BsmtQual', 'BsmtCond', 'GarageQual', 'GarageCond', 'BsmtExposure', 'PoolQC', 'FireplaceQu', 'MasVnrArea']].fillna(value=0)

In [27]:
data_test.drop(columns=['MiscFeature', 'Alley', 'Fence'], inplace=True)

In [28]:
data_test

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.00,11622,Pave,Reg,Lvl,AllPub,Inside,...,0,0,120,0,0.00,0,6,2010,WD,Normal
1,1462,20,RL,81.00,14267,Pave,IR1,Lvl,AllPub,Corner,...,0,0,0,0,0.00,12500,6,2010,WD,Normal
2,1463,60,RL,74.00,13830,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0.00,0,3,2010,WD,Normal
3,1464,60,RL,78.00,9978,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0.00,0,6,2010,WD,Normal
4,1465,120,RL,43.00,5005,Pave,IR1,HLS,AllPub,Inside,...,0,0,144,0,0.00,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.00,1936,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0.00,0,6,2006,WD,Normal
1455,2916,160,RM,21.00,1894,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0.00,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.00,20000,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0.00,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.00,10441,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0.00,700,7,2006,WD,Normal
1458,2919,60,RL,74.00,9627,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0.00,0,11,2006,WD,Normal

In [29]:
data_test_cat = data_test.select_dtypes(include = "object")
data_test_num = data_test.select_dtypes(include = ["int64", "float64"])

In [30]:
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
data_test_num_modified = imp_mean.fit_transform(data_test_num)
df_test_num_modified = pd.DataFrame(data_test_num_modified, columns=data_test_num.columns.values)
imp_frequent = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
data_test_cat_modified = imp_frequent.fit_transform(data_test_cat)
df_test_cat_modified = pd.DataFrame(data_test_cat_modified, columns=data_test_cat.columns.values)

In [31]:
encoder = OneHotEncoder(sparse=False)
test_encoded = encoder.fit_transform(df_cat_modified)
df_test_encoded = pd.DataFrame(test_encoded)

In [32]:
df_test_modified = pd.concat([df_test_num_modified, df_test_encoded], axis=1)

In [33]:
df_test_modified

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,184,185,186,187,188,189,190,191,192,193
0,1461.00,20.00,80.00,11622.00,5.00,6.00,1961.00,1961.00,0.00,3.00,...,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,1.00,0.00
1,1462.00,20.00,81.00,14267.00,6.00,6.00,1958.00,1958.00,108.00,3.00,...,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,1.00,0.00
2,1463.00,60.00,74.00,13830.00,5.00,5.00,1997.00,1998.00,0.00,3.00,...,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,1.00,0.00
3,1464.00,60.00,78.00,9978.00,6.00,6.00,1998.00,1998.00,20.00,3.00,...,0.00,0.00,0.00,1.00,1.00,0.00,0.00,0.00,0.00,0.00
4,1465.00,120.00,43.00,5005.00,8.00,5.00,1992.00,1992.00,0.00,4.00,...,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,1.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,2916.00,160.00,21.00,1894.00,4.00,5.00,1970.00,1970.00,0.00,3.00,...,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,1.00,0.00
1456,2917.00,20.00,160.00,20000.00,5.00,7.00,1960.00,1996.00,0.00,3.00,...,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,1.00,0.00
1457,2918.00,85.00,62.00,10441.00,5.00,5.00,1992.00,1992.00,0.00,3.00,...,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,1.00,0.00
1458,2919.00,60.00,74.00,9627.00,7.00,5.00,1993.00,1994.00,94.00,3.00,...,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,1.00,0.00
1459,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,1.00,0.00

In [34]:
data_id = df_test_modified[['Id']]
data_id = data_id.drop(index=1459)
data_id

          Id
0    1461.00
1    1462.00
2    1463.00
3    1464.00
4    1465.00
...      ...
1454 2915.00
1455 2916.00
1456 2917.00
1457 2918.00
1458 2919.00

[1459 rows x 1 columns]

In [35]:
df_test_modified = df_test_modified.drop(index=1459)

In [36]:
df_test_modified.drop(columns='Id', inplace=True)

In [37]:
predictions_test = ridge.predict(df_test_modified)

In [40]:
submit = pd.DataFrame(np.exp(predictions_test))
submit_final = pd.concat([data_id, submit], axis=1)
submit_final.columns = ["Id", "SalePrice"]
submit_final
submit_final['Id'] = submit_final['Id'].astype(np.int32)
submit_final.to_csv('submit_bis.csv', index=False)

In [41]:
submit_final

        Id  SalePrice
0     1461  121179.85
1     1462  127205.89
2     1463  171592.66
3     1464  182381.98
4     1465  179520.37
...    ...        ...
1454  2915  113569.63
1455  2916   98762.01
1456  2917  159022.59
1457  2918  124657.51
1458  2919  249955.27

[1459 rows x 2 columns]